/* --------------------------------
- Daftar Isi -
Reset css
Layout
Menu Navigasi
Grid/Kolom
Layout card
Table
Keyframes Animasi
Responsive Media Screen
----------------------------------*/
/* Root Variabel ----------------------------------------------------------------------*/
:root{
  --warna-utama: #1b3280;
  --button-utama:#0077b6;
  --button-gelap:#005dbb;
  --button-hijau: #08a045;
  --merah: #eb211a; --merah-gelap: #af1813;
  --warna-aksen: #d5d5d5;
  --warna-bg: #f1f1f1;
  --warna-wrap: #ffffff;
  --base-font-size: 12px;
}

/* Reset css ----------------------------------------------------------------------*/
* {
  margin:0; padding:0; box-sizing: border-box; 
  scrollbar-width: thin; scrollbar-color: rgb(0, 0, 0)   rgba(0, 0, 0, 0.192);
}
li {list-style: none;}
a {text-decoration: none;}
h1, h2, h3, h4 { margin: 10px; text-transform: capitalize;}
button, .btn{ margin: 5px; padding: 10px 10px; border-radius: 3px; color: white !important; background-color: var(--button-utama); border: none}
button:hover, .btn:hover { background-color: var(--button-gelap);}
.btn-merah { background-color: var(--merah);}
.btn-merah:hover { background-color: var(--merah-gelap);}
.breadcrumb { font-size: 85%; float: left; text-transform:capitalize;}
.text-muted{color:#6c757d!important}

  .meter {
  box-sizing:content-box;
  height:15px;
  position:relative;
  margin:10px 20px 20px;
  background:#dfdfdf;
  border-radius:25px;
  padding:3px;
  box-shadow:inset 0 -1px 1px rgba(255,255,255,0.3)
  }
  .meter > span {
  display:block;
  height:100%;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
  background-color:#2bc253;
  background-image:linear-gradient(center bottom,#2bc253 37%,#54f054 69%);
  box-shadow:inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
  position:relative;
  overflow:hidden
  }
  .meter > span:after,.animate > span > span {
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-image:linear-gradient(-45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
  z-index:1;
  background-size:50px 50px;
  animation:move 8s linear infinite;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  overflow:hidden
  }
  .animate > span:after {
  display:none
  }
  
  @keyframes move {
  0% {
  background-position:0 0
  }
  100% {
  background-position:50px 50px
  }
  }
  
  .orange > span {
  background-image:linear-gradient(#f1a165,#f36d0a)
  }
  .red > span {
  background-image:linear-gradient(#f0a3a3,#f42323)
  }
  .nostripes > span > span,.nostripes > span::after {
  background-image:none
  }

/* Layout ----------------------------------------------------------------------*/
body {
  background-color: var(--warna-bg, #f1f1f1);
  font-family: 'Roboto', sans-serif;
  color:#000;
}
#wrapper {
  position: relative;
  width: 80%;
  min-height: 80% !important;
  margin: 0 auto;
  margin-top: 15px; margin-bottom: 20px;
  float: center!important;
  text-align: left;
  border-radius:3px;
  box-shadow: 0px 0px 0px #aaa;
  background-color: var(--warna-bg);
  overflow: hidden
}
.container, .container-top {
  position: relative;
  width: 75%;
  margin: 0 auto;
  margin-top: 10px; margin-bottom: 15px;
  text-align: left;
  background-color: var(--warna-wrap);
  box-shadow: 0px 0px 3px #aaa;
  border-radius: 5px;
  overflow: hidden;
}
.content{padding:5px; margin: 10px;}
.btn-skripsi { font-size:125%; color: white; background-color: var(--button-utama); text-align: center; padding: 15px; text-transform: uppercase;}
.btn-skripsi:hover { background-color: var(--button-gelap);}

.alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;
  color:#004085;background-color:#cce5ff;border-color:#b8daff;
}

.container-top { background-color: rgba(0,0,0,0); border-radius:0px; box-shadow: none;}
footer {
  position: relative;
  width: 80%;
  margin: 10px auto;
  bottom: 0;
  float: center!important;
  font-weight: bold; text-align: center;
  background-color: rgba(255, 255, 255, 0);
  padding:10px;
  margin-top: 5px; margin-bottom: 10px;
  border-radius: 15px 0px 0px 0px;
}
footer a{color: black;}


.kotak-form, .login_form {
  width: 90%;
  background-color: #fff;
  background-attachment: fixed;
  border-radius: 0px;
  margin: 5% auto; /*meletakkan form ke tengah*/
  padding: 18px;
}
.login_form{
  width: 55%;
  box-shadow: 0px 0px 5px #aaa;
}
.tulisan_form {
  text-align: center;
  text-transform: uppercase; /*membuat semua huruf menjadi kapital*/
}
.pesan_error {
  width: 100% !important;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #696969;
  background-color: rgb(255, 254, 169);
}
input {
  border: 1px solid rgb(219, 219, 219); border-radius: 3px;}
input:hover {
  border: 1px solid rgb(99, 99, 99); border-radius: 3px;}
input:focus {
  background-color: #ffffff;
  border: 1px solid rgb(184, 247, 255); }
label {
  font-size: 11pt;}
small { position:relative;font-size:80%;font-weight:400;top:-15px; }
.form_text {
  /*membuat lebar form penuh*/
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-top: 5px; margin-bottom: 15px;
} 
.form-file{border-radius:0px}
.tombol_submit {
  background: var(--warna-utama);font-size: 11pt;font-weight: 500;color: white;
  width: 100%;
  border-radius: 3px;
  padding: 10px 20px;
}
.submit,.back {
  margin: 0px;
  background: var(--button-utama);
  color: white; font-size: 11pt; font-weight: 500;
  -ms-flex:0 0 68%;flex:0 0 68%;max-width:68%;
  border-radius: 3px;
  padding: 10px 20px;
} .back {background: var(--button-hijau); -ms-flex:0 0 30.5%;flex:0 0 30.5%;max-width:30.5%;margin-right: 1.5%}

.tombol_submit:hover, .submit:hover, .back:hover{ background: var(--button-gelap)}

/* Grid/Kolom -------------------------------------------------*/
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap; width: 100%;}
.atur-kolom, .atur-kolom-ka{position:relative;width:100%;min-height:1px;padding:5px;}
.atur-kolom{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%;}
.atur-kolom-ka{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%; }
.atur-kolom:nth-child(1){padding-left: 0px;}
.atur-kolom:nth-child(4){padding-right: 0px;}
.card-counter{box-shadow:2px 2px 10px #DADADA;margin:0;padding:20px 10px;background-color:#fff;height:100px;border:5px;transition:.3s linear all}
.card-counter:hover{box-shadow:4px 4px 20px #DADADA;transition:.3s linear all}
.card-counter.primary{background-color:#007bff;color:#FFF}
.card-counter.success{background-color:#66bb6a;color:#FFF}
.card-counter.info{background-color:#26c6da;color:#FFF}
.card-counter i{font-size:5em;opacity:.2}
.card-counter .count-numbers{position:absolute;right:35px;top:20px;font-size:32px;display:block}
.card-counter .count-name{position:absolute;right:35px;top:65px;text-transform:capitalize;display:block;font-size:16px;background-color: rgba(0, 0, 0, 0);}

/* Tooltip / popup ----------------------------------------------------------------- */
.bar_munculan {
  color: rgb(255, 255, 255);
}
.bar_munculan:before,
.bar_munculan:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}
.bar_munculan:before {
  visibility:hidden;
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: rgb(0, 140, 255) transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}
.bar_munculan:after {
  visibility: hidden;
  content: attr(data-tooltip);
  background: rgb(0, 140, 255);
  width: 93%;
  height: 30px;
  font-size: 13px;
  font-weight: 300;
  top: -65px;
  left: 0px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}
.bar_munculan:hover::before,
.bar_munculan:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translateY(-2px);
}
.anim:hover {
  animation: shake 500ms ease-in-out forwards;}
  
.rekayasaB img{ float: center; }

/* Scroll Bar Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: rgba(122, 122, 122, 0.692);
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}
 
/* Menu Navigasi -------------------------------------------------------------------------- */
header {background-color: #141b2500;}
.main-nav {
  height: 70px;
  background-color: #1b3280;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23193aa9' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}
.contain-nav {
  height: 70px;
  width: 75%;
  margin: 0 auto;
  text-overflow:ellipsis; overflow: hidden; white-space:nowrap;
}
.logo {
  position: relative;
  color: rgb(255, 255, 255);
  line-height: 70px;
  font-size: 20px; 
  font-weight:500;
  text-decoration: none;
  margin-left: 60px; margin-top: 10px;
} 
.nav_logo{
  position: absolute; height:fit-content; max-height: 50px; top: 10px;
}
.navlinks {
  list-style: none;
  float: right;
  line-height: 70px;
  margin: 0;
  padding: 0;
}
.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}
.navlinks li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}
.navlinks li a:hover {
  padding-bottom: 7px;
  border-bottom: 1px solid ;
}
.navlinks li .active {
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 9px 20px !important;
  border-radius: 50px !important;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}
#check {
  display: none;
}
.menu-btn {
  font-size: 25px;
  color: rgb(255, 255, 255);
  float: right;
  line-height: 70px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

/* Table ---------------------------------------------------------------------------- */
table{
  margin: 5% auto; margin-top: 0px; margin-bottom: 0px;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  background: #eaebec;
}
table th {
  padding: 15px 35px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}
table th:first-child{  
  border-left:none;  
}
table tr {
  text-align: center;
  padding-left: 20px;
}
table td {
  padding: 15px 35px;
  background: #fdfdfd;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
table tr:hover td {
  background: #f8f8f8;
}

.pagination{ display:flex;padding:0 15px 20px 0;float:right;list-style:none}
.page-link{ position:relative;display:block;color:#0d6efd;text-decoration:none;background-color:#fff;border:1px solid #dee2e6;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.page-link{transition:none}}.page-link:hover{z-index:2;color:#0a58ca;background-color:#e9ecef;border-color:#dee2e6}.page-link:focus{z-index:3;color:#0a58ca;background-color:#e9ecef;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}.page-item:not(:first-child) .page-link{margin-left:-1px}.page-item.active .page-link{z-index:3;color:#fff;background-color:#0d6efd;border-color:#0d6efd}.page-item.disabled .page-link{color:#6c757d;pointer-events:none;background-color:#fff;border-color:#dee2e6}.page-link{padding:.375rem .75rem}.page-item:first-child .page-link{border-top-left-radius:.25rem;border-bottom-left-radius:.25rem}.page-item:last-child .page-link{border-top-right-radius:.25rem;border-bottom-right-radius:.25rem}.pagination-lg .page-link{padding:.75rem 1.5rem;font-size:1.25rem}.pagination-lg .page-item:first-child .page-link{border-top-left-radius:.3rem;border-bottom-left-radius:.3rem}.pagination-lg .page-item:last-child .page-link{border-top-right-radius:.3rem;border-bottom-right-radius:.3rem}.pagination-sm .page-link{padding:.25rem .5rem;font-size:.875rem}.pagination-sm .page-item:first-child .page-link{border-top-left-radius:.2rem;border-bottom-left-radius:.2rem}.pagination-sm .page-item:last-child .page-link{border-top-right-radius:.2rem;border-bottom-right-radius:.2rem}

.infos {
  position: relative; margin: 20px 20px;
  line-height: 29px; padding: 0px 0px; transform: none!important;  overflow: hidden; text-overflow: clip;  white-space: nowrap;}
.infos b{display: block;float: left;width: 30%;}

/* Keyframes Animasi --------------------------------------------------------*/
@keyframes shake {
  0% { transform: rotate(2deg); }
  50% { transform: rotate(-3deg) }
  70% { transform: rotate(3deg) }
  100% { transform: rotate(0deg)}
}

/* Responsive Media Screen ---------------------------------------------------*/
@media screen and (max-width: 991px) {
    
}  
@media screen and (max-width:767px){
  #wrapper {width: 95%;}
  .container, .container-top {width: 90%;}
  .contain-nav {width: 90%;}
  .main-nav {padding-left: 2%; padding-right: 2%;}
  .atur-kolom{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
  .atur-kolom:nth-child(2){padding-right: 0px;}
  .atur-kolom:nth-child(3){padding-left: 0px;}

  .login_form{
    width: 75%;
  }

  .navlinks{position:fixed;width:100%;height:100vh;text-align:center;transition:all .5s;right:-100%;background:#222831;z-index:5}
  .navlinks li{display:block}
  .navlinks li a{font-size:15px;color:#fffff0}
  .navlinks li a:hover{border-bottom:none}
  .menu-btn{display:block}
  #check:checked ~ .navlinks{right:0}

  /* ----- */
  .card {
    width: 100%;
    grid-column: span 3;
  }
}
@media screen and (max-width: 480px) {
    .wrapper {width: 98%}
    .container, .container-top {width: 97%;}
    .contain-nav {width: 97%;}
    .main-nav {padding-left: 1%; padding-right: 1%;}
    .nav_logo{
      display: none;
    }
    
    .login_form{
      width: 90%;
    }

    .logo{margin-left:10px;font-size:20px}
    .menu-btn{margin-right:10px;font-size:25px}
    .menu-btn:focus{color:blue}

    .card {
      width: 100%;
      grid-column: span 6;
    }

}